@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* Colors */

@color-moderate-blue: hsl(238, 40%, 52%);
@color-soft-red: hsl(358, 79%, 66%);
@color-light-grayish-blue: hsl(239, 57%, 85%);
@color-pale-red: hsl(357, 100%, 86%);

/* Neutral */

@color-dark-blue: hsl(212, 24%, 26%);
@color-grayish-blue: hsl(211, 10%, 45%);
@color-light-gray: hsl(223, 19%, 93%);
@color-very-light-gray: hsl(228, 33%, 97%);
@color-white: hsl(0, 0%, 100%);

// google font
@ff: 'Rubik', sans-serif;

@fw-regular: 400;
@fw-medium: 500;
@fw-bold: 700;

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  font-family: @ff;
  font-size: 1rem;
  color: @color-grayish-blue;
  background-color: @color-white;
}


h1 {
  color: @color-moderate-blue;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
  padding: 0.75rem 1.5rem;
  border: 1px solid @color-light-gray;
  border-radius: 8px;
  caret-color: @color-moderate-blue;

  &::placeholder {
    color: @color-grayish-blue;
  }

  &:focus-visible {
    outline: none;
    border: 1px solid @color-moderate-blue ;
  }

  &:hover {
    cursor: pointer;
  }
}

.hidden {
  display: none !important;
}

.avatar {
  width: 2rem;
}

.score {
  display: flex;
  width: 6.25rem;
  height: 2.5rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background-color: @color-very-light-gray;

  span {
    overflow: hidden;
    max-width: 50px;
  }
}

.add-btn {
  background: url('src/assets/images/icon-plus.svg') no-repeat;
  width: 14px;
  height: 14px;
  background-position: center;
}

.minus-btn {
  background: url('src/assets/images/icon-minus.svg') no-repeat;
  width: 14px;
  height: 14px;
  background-position: center;
}

.comment-section {
  padding: 2rem 1rem;
  max-width: 730px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  button {
    border: none;
  }

  .comment {
    display: grid;
    grid-template-areas:
      'author author'
      'content content'
      'score action';
    row-gap: 1rem;
    padding: 1rem;

    &.has-replies {
      grid-template-areas:
        'author author'
        'content content'
        'score action'
        'reply reply';

      &.replying {
        grid-template-areas:
          'author author'
          'content content'
          'score action'
          'reply reply'
          'replying replying';
      }
    }

    &.replying {
      grid-template-areas:
        'author author'
        'content content'
        'score action'
        'replying replying';
    }

    .author {
      grid-area: author;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;

      .name {
        font-weight: 500;
        color: @color-dark-blue;
        display: flex;
        gap: 0.5rem;
        align-items: center;

        .you-tag {
          width: 2.25rem;
          height: 1.1875rem;
          border-radius: 2px;
          text-align: center;

          font-size: 13px;
          font-weight: @fw-medium;
          color: @color-white;
          background-color: @color-moderate-blue;
        }
      }

      .timestamps {
        color: @color-grayish-blue ;
      }
    }

    .content {
      grid-area: content;
      overflow: auto;
      overflow-wrap: break-word;

      .replying-to {
        color: @color-moderate-blue;
        font-weight: @fw-medium;
      }
    }

    .update-comment-wrapper {
      grid-area: content;
      display: flex;
      flex-direction: column;

      .update-comment {
        height: 6rem;

        &.error {
          border: 1px solid @color-soft-red
        }
      }

      .error-message {
        grid-area: content;
        font-size: 0.75rem;
        color: @color-soft-red;
      }
    }


    .score {
      grid-area: score;
      display: flex;
      gap: 0.625rem;
      align-items: center;
      justify-content: center;

      font-weight: @fw-medium;
      color: @color-moderate-blue;

      button {
        border: none;
      }
    }

    .action {
      grid-area: action;
      justify-self: end;
      align-self: center;

      display: flex;
      gap: 1rem;
      align-items: center;
      font-weight: @fw-medium;

      i {
        display: inline-block;
        width: 14px;
        height: 14px;
        background-position: center;
      }

      button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0;
      }

      .reply-btn {
        width: fit-content;
        color: @color-moderate-blue;

        &:hover {
          opacity: 0.5;
        }

        .reply-icon {
          background-image: url('src/assets/images/icon-reply.svg');
        }
      }

      .delete-btn {
        color: @color-soft-red;

        &:hover {
          opacity: 0.5;
        }

        .delete-icon {
          background-image: url('src/assets/images/icon-delete.svg');
        }
      }

      .edit-btn {
        color: @color-moderate-blue;

        &:hover {
          opacity: 0.5;
        }

        .edit-icon {
          background-image: url('src/assets/images/icon-edit.svg');
        }
      }

      &.hidden-mobile {
        display: none;
      }

      &.isUpdating-desktop {
        display: none;
      }

      .update-comment-btn {
        font-weight: @fw-regular;
        color: @color-white;
        background-color: @color-moderate-blue;

        padding: 0.75rem 1.25rem;
        border-radius: 0.5rem;

        &:hover {
          background-color: @color-light-grayish-blue;
        }
      }
    }

    .reply {
      grid-area: reply;
      display: flex;
      gap: 1rem;
      @line-width: 2px;

      .line {
        display: block;
        height: 100%;
        width: @line-width;
        background-color: @color-light-gray;
      }

      .comments {
        width: calc(100% - @line-width);

        .comment {
          padding-right: 0;
        }
      }
    }

    .compose {
      grid-area: replying;
      padding: 1rem 0;
    }
  }

  .compose {
    display: grid;
    grid-template-areas:
      'comment comment'
      'avatar button';
    grid-template-rows: 6rem auto;
    gap: 1rem;
    padding: 1rem;

    .compose-comment-wrapper {
      grid-area: comment;
      display: flex;
      flex-direction: column;

      .compose-comment {
        padding: 0.5rem 1.5rem;
        border: 1px solid @color-light-gray;
        border-radius: 8px;
        height: 6rem;

        &::placeholder {
          color: @color-grayish-blue;
        }

        &:focus-visible {
          outline: none;
          border: 1px solid @color-moderate-blue ;
        }

        &.error {
          border: 1px solid @color-soft-red;
        }
      }

      .error-message {
        color: @color-soft-red;
        font-size: 0.75rem;
      }
    }


    button {
      grid-area: button;
      justify-self: end;
      color: @color-white;
      background-color: @color-moderate-blue;

      padding: 0.75rem 1.875rem;
      border-radius: 0.5rem;

      &:hover {
        background-color: @color-light-grayish-blue;
      }
    }

    .avatar {
      grid-area: avatar;
      align-self: center;
    }
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: hsla(0, 0%, 0%, 0.5);
  overflow-y: hidden;

  &.hidden {
    display: none;
  }

  .modal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 1.75rem;

    width: 343px;
    height: 224px;
    border-radius: 8px;
    background-color: @color-white;

    .title {
      color: @color-dark-blue;
      font-size: 1.25rem;
      font-weight: @fw-medium;
    }

    .content {
      color: @color-grayish-blue;
    }

    .action {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.75rem;
      width: 100%;

      button {
        border-radius: 8px;
        font-weight: @fw-medium;
        color: @color-white;
        padding: 0.75rem;
        display: grid;

        &.delete-confirm-btn {
          background-color: @color-soft-red;
        }

        &.cancel-btn {
          background-color: @color-grayish-blue;
        }
      }
    }
  }
}

@media (min-width: 888px) {
  body {
    display: grid;
    place-content: center;
  }

  .comment-section {
    margin-top: 2rem;
    min-height: fit-content;
    padding: 2rem 0;
    gap: 1.25rem;
    
    .comment {
      grid-template-areas:
        'score author action'
        'score content content';
      gap: 1rem 1.5rem;
      padding: 1.5rem;
      grid-template-columns: 2.5rem auto 10rem;

      &.has-replies {
        grid-template-areas:
          'score author action'
          'score content content'
          'reply reply reply';

        &.replying {
          grid-template-areas:
            'score author action'
            'score content content'
            'reply reply reply'
            'replying replying replying';
        }
      }

      &.replying {
        grid-template-areas:
          'score author action'
          'score content content'
          'replying replying replying';
      }

      &.updating {
        grid-template-areas:
          'score author action'
          'score content content'
          'update update update';
      }


      .score {
        flex-direction: column;
        width: 2.5rem;
        height: 6.25rem;
      }

      .action {
        gap: 1.5rem;
        
        &.hidden-mobile {
          display: flex;
        }

        &.isUpdating {
          display: none;
        }

        &.isUpdating-desktop {
          display: block;
          grid-area: update;
        }
      }

      .reply {
        gap: 4rem;
        padding-top: 1.5rem;

        .comments {
          display: grid;
          gap: 1.5rem;
        }
      }

      .update-comment-wrapper {
        .update-comment {
          height: 8rem;
        }
      }
  
    }

    .compose {
      grid-template-areas:
      'avatar comment button';
      grid-template-columns: 2.5rem auto 6.5rem;
      align-items: start;
      padding: 0 1.5rem;
      .avatar {
        width: 2.5rem;
        align-self: start;
      }
    }
  }
}
